html {
  font-size: 14px;
}

body {
  margin: 0;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.episode-layout {
 display: flex;
 flex-wrap: wrap;
 min-width: 100vh;
}

.episode-box {
  padding: .5rem;
}

.header {
  font-size: 13px;
  color: lightgreen;
  display: flex;
  justify-content: space-between;
  background: lightskyblue;
  border-bottom: 4px solid lightgreen;
  padding: .5rem;
  position: sticky;
  top: 0;
}